*{
    box-sizing: border-box;
}
.col-0{width: 0%;}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

[class*="col-"]{
    float:left;
    padding: 15px;
}
.row:after{
    content: "";
    clear: both;
    display: block;
}
body{
    margin: 0px;
    padding: 0px;
    direction: rtl;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#topMenu{
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: solid black 1px;
}

#loginDiv{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
#loginDiv div{
    height: 30px;
}
#loginDiv a{
    text-decoration: none;
    color: black;
    position: relative;
    bottom: 10px;
}

#login{
    position: relative;
    top: 10px;
}
#free{
    font-size: 10px;
    color: #c411ac;
    font-weight: bold;
}
#searchInput{
    height: 35px;
    background-color: #ececec;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid #99ebff;
}
#searchDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
#littleMenu{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#bamaIcon{
    position: relative;
    bottom: 40px;
}
ul{
    list-style-type: none;

}
#littleMenu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    height: 35px;
}
#underMenu{
    display: none;
    position: relative;
    left: 45px;
    height: 220px;
    z-index: 2;
}
#underMenu a,#sunderMenu a, #tunderMenu a{
    display: block;
}
#underMenu li{
    width: 180px;
    height: 35px;
    background-color: #e0e0e0;
    padding-right: 5px;
}
#khodro{
    width: 50px;
}
#sunderMenu{
    display: none;
    position: relative;
    left: 45px;
    height: 120px;
    z-index: 2;
}
#littleMenuMotorSyclet{
    width: 95px;

}
#sunderMenu li{
    width: 200px;
    height: 35px;
    background-color: #e0e0e0;
    padding-right: 5px;
}
#tunderMenu{
    display: none;
    position: relative;
    left: 45px;
    height: 150px;
    z-index: 2;
}
#tunderMenu li{
    width: 200px;
    height: 35px;
    background-color: #e0e0e0;
    padding-right: 5px;
}
#littleMenuBama{
    width: 35px;
}
#underMenu a,#sunderMenu a,#tunderMenu a{
    font-weight: 300;
}
#littleMenu>li, #littleMenu>span{
    padding: 5px;
}
#xIcon{
    display: none;
}
#middleMenu{
    height: 500px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
}
#rightMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#rightMenu li{
    height: 100px;
    width: auto;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    padding-right: 10px;
}
#uRightMenu4{
    border-bottom: 0px !important;
}
#rightMenu a{
    text-decoration: none;
    color: black;
    display: block ;
    width: 150px;
    height: 100px;
    padding-top: 35px;
}
#xIcon2, #xIcon3, #xIcon4, #xIcon5{
    width: 15px;
    float: left;
    margin-top: 10px;
    filter: opacity(30%);
    display: none;
}
#selectedMenu1Div{
    height: 90%;
    display: none;
}
#selectedMenu1Div,#selectedMenu2Div,#selectedMenu3Div,#selectedMenu4Div{
    width: 75%;
}
#rightMenu li a.active{
    color: #c411ac;
    font-weight: bold;
}
#selectedMenu1Div a{
    cursor: pointer;
}
#dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
#sliderDots{
    padding-right: 35%;
}
#menu1Slide1,#menu1Slide2,#menu1Slide3{
    display: none;
    flex-wrap: wrap;
    height: 70%;
}
#menu1Slide1 li,#menu1Slide2 li,#menu1Slide3 li{
    height: 100px;
    text-align: center;
}
#menu1Slide1 a,#menu1Slide2 a,#menu1Slide3 a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    filter: opacity(50%);
    color: black;
    height: 100px;
}
#dot.active{
    background-color: #1c8092;
}
#prev, #next{
    margin: 30px;
}
#selectedMenu3Div{
    display: none;
    flex-wrap: wrap;
    height: 100%;
}
#selectedMenu3Div ul{
    list-style-type: none;
    display:flex ;
    flex-wrap: wrap;
    margin-top: 100px;
}
#selectedMenu3Div li{
    height: 100px;
    text-align: center;
}
#selectedMenu3Div a{
    height: 100px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    filter: opacity(50%);
}
.aaRightMenu{
    color: black;
}
#myHeader{
    display: none;
}
@media only screen and (max-width:1000px){
    body{
        width: 100%;
        
    }
    #littleMenuDiv{
        display: none;
    }
    #loginDiv{
        display: none;
    }
    #searchDiv{
        width: 95%;
    }
    #searchInput{
        background-color: white;
        height: 43px;
    }
    #topMenu{
        background-color: #ececec;
    }
    #middleMenu{
        align-items: flex-start;
    }
    #rightMenu{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        border-bottom: solid black 1px;
    }
    #rightMenu li{
        width: 25%;
        border-bottom: none;
        height: 50px;
    }
    #rightMenu a{
        border-bottom: none;
        height: 50px;
    }
    #selectedMenu1Div,#selectedMenu2Div,#selectedMenu3Div,#selectedMenu4Div{
        width: 100%;
    }
    .container{
        max-width: 970px;
    }
    #selectedMenu1Div{
        display: block;
    }
    #menu1Slide1{
        display: block;
    }
    #myHeader{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        display: block;
        direction: rtl;
        background-color: #ececec;
    }
    #myHeader li{
        list-style-type: none;
        border: black 1px solid;
    }
    #myHeader a{
        text-decoration: none;
        color: black;
    }
    #threeLineIcon{
        width: 37px;
        float: right;
        margin-top: 10px;
    }
    #freeAd{
        width: 100px;
        height: 28px;
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        font-size: 13px;
        text-align: center;
        border-radius: 3px;
    }
}