@keyframes openSearch{
    from{
        width: 50%;
    }
    to{
        width: 70%;
        transform: translate(70%,0px);
    }
}
@keyframes closeSearch{
    from{
        width: 70%;
        transform: translate(70%,0px);
    }
    to{
        width: 100%;
        transform: translate(0px,0px);
    }
}
@keyframes openMenu1{
    from{
        height: 60px;
    }
    to{
        height: 350px;
    }
}
@keyframes openMenu2{
    from{
        height: 60px;
    }
    to{
        height: 250px;
    }
}
@keyframes closeMenu1{
    from{
        height: 350px;
    }
    to{
        height: 60px;
    }
}
@keyframes closeMenu2{
    from{
        height: 250px;
    }
    to{
        height: 60px;
    }
}
@keyframes searchResposive{
    from{
        transform: translateY(50px);
    }
    to{
        transform: translateY(0px);
    }
}
@keyframes searchResposive2{
    from{
        transform: translateY(-50px);
    }
    to{
        transform: translateY(0px);
    }
}
@keyframes searchResposive3{
    from{
        transform: translate(0px,50px);
    }
    to{
        transform: translate(0px,0px);
    }
}
@keyframes searchResposive4{
    from{
        transform: translate(0px,50px);
    }
    to{
        transform: translate(150px,0px);
    }
}
*{
    box-sizing: border-box;
}
.col-0{width: 0%;}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

[class*="col-"]{
    float:left;
    padding: 15px;
}
.row:after{
    content: "";
    clear: both;
    display: block;
}
body{
    margin: 0px;
    padding: 0px;
    direction: rtl;
    height: 700px;
}
#topMenu{
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: solid black 1px;
}

#loginDiv{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
#loginDiv div{
    height: 30px;
}
#loginDiv a{
    text-decoration: none;
    color: black;
    position: relative;
    bottom: 10px;
}

#login{
    position: relative;
    top: 10px;
}
#free{
    font-size: 10px;
    color: #c411ac;
    font-weight: bold;
}
#searchInput{
    height: 35px;
    background-color: #ececec;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid #99ebff;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
#searchDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
#littleMenu{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#bamaIcon{
    position: relative;
    bottom: 40px;
}
ul{
    list-style-type: none;

}
#littleMenu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    height: 35px;
}
#underMenu{
    display: none;
    position: relative;
    left: 45px;
    height: 220px;
    z-index: 2;
}
#underMenu a,#sunderMenu a, #tunderMenu a{
    display: block;
}
#underMenu li{
    width: 180px;
    height: 35px;
    background-color: #e0e0e0;
    padding-right: 5px;
}
#khodro{
    width: 50px;
}
#sunderMenu{
    display: none;
    position: relative;
    left: 45px;
    height: 120px;
    z-index: 2;
}
#littleMenuMotorSyclet{
    width: 95px;

}
#sunderMenu li{
    width: 200px;
    height: 35px;
    background-color: #e0e0e0;
    padding-right: 5px;
}
#tunderMenu{
    display: none;
    position: relative;
    left: 45px;
    height: 150px;
    z-index: 2;
}
#tunderMenu li{
    width: 200px;
    height: 35px;
    background-color: #e0e0e0;
    padding-right: 5px;
}
#littleMenuBama{
    width: 35px;
}
#underMenu a,#sunderMenu a,#tunderMenu a{
    font-weight: 300;
}
#littleMenu>li, #littleMenu>span{
    padding: 5px;
}
#xIcon{
    display: none;
    position: relative;
    bottom: 15px;
}
#middleMenu{
    height: 500px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
}
#rightMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#rightMenu li{
    height: 100px;
    width: auto;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    padding-right: 10px;
}
#uRightMenu4{
    border-bottom: 0px !important;
}
#rightMenu a{
    text-decoration: none;
    color: black;
    display: block ;
    width: 150px;
    height: 100px;
    padding-top: 35px;
}
#xIcon2, #xIcon3, #xIcon4, #xIcon5{
    width: 15px;
    float: left;
    margin-top: 10px;
    filter: opacity(30%);
    display: none;
}
#selectedMenu1Div{
    height: 90%;
    display: none;
}
#selectedMenu1Div,#selectedMenu2Div,#selectedMenu3Div,#selectedMenu4Div{
    width: 75%;
}
#rightMenu li a.active{
    color: #c411ac;
    font-weight: bold;
}
#selectedMenu1Div a{
    cursor: pointer;
}
#dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
#sliderDots{
    display: flex;
    justify-content: center;
    height: 50px;
}
#menu1Slide1,#menu1Slide2,#menu1Slide3{
    display: none;
    flex-wrap: wrap;
    height: 70%;
}
#menu1Slide1 li,#menu1Slide2 li,#menu1Slide3 li{
    height: 100px;
    text-align: center;
}
#menu1Slide1 a,#menu1Slide2 a,#menu1Slide3 a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    filter: opacity(50%);
    color: black;
    height: 100px;
}
#selectedMenu2Div{
    display: none;
}
#selectedMenu4Div{
    display: none;
}
#selectedMenu4Div li{
    list-style-type: none;
}
#selectedMenu4Div a{
    text-decoration: none;
    color: black;
    height: 38px;
}
#selectedMenu4Div a:hover{
    border: #2eb2c9 2px solid;
    border-radius: 3px;
}

#menu2Slide1{
    height: 420px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#menu2Slide1 li{
    height: 39px;
}
#menu2Slide1 a{
    color: black;
    text-decoration: none;
    padding: 5px;
}
#menu2Slide1 a:hover{
    border: #2eb2c9 2px solid;
    border-radius: 10px;
}
#alphaBeta{
    list-style-type: disc;
    color: #2eb2c9;
    font-weight: bold;
}
#dot.active{
    background-color: #1c8092;
}
#prev, #next{
    margin: 30px;
    position: relative;
    bottom: 40px;
}
#selectedMenu3Div{
    display: none;
    flex-wrap: wrap;
    height: 100%;
}
#selectedMenu3Div ul{
    list-style-type: none;
    display:flex ;
    flex-wrap: wrap;
    margin-top: 100px;
}
#selectedMenu3Div li{
    height: 100px;
    text-align: center;
}
#selectedMenu3Div a{
    height: 100px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    filter: opacity(50%);
}
.aaRightMenu{
    color: black;
}
#myHeader{
    display: none;
}
#fixedRightMenu{
    display: none;
}
@media only screen and (max-width:1000px){
    body{
        width: 100%;
        
    }
    #littleMenuDiv{
        display: none !important;
    }
    #loginDiv{
        display: none !important;
    }
    #searchDiv{
        width: 90%;
    }
    #searchInput{
        background-color: white !important;
        height: 43px;
    }
    #topMenu{
        background-color: #ececec;
        position: relative;
        left: 12px;
    }
    #middleMenu{
        align-items: flex-start;
    }
    #rightMenu{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        border-bottom: solid black 1px;
    }
    #rightMenu li{
        width: 25%;
        border-bottom: none;
        height: 50px;
    }
    #rightMenu a{
        border-bottom: none;
        height: 50px;
    }
    #selectedMenu1Div,#selectedMenu2Div,#selectedMenu3Div,#selectedMenu4Div{
        width: 100%;
    }
    .container{
        max-width: 970px;
    }
    #selectedMenu1Div{
        display: block;
    }
    #menu1Slide1,#menu1Slide2,#menu1Slide3{
        display: flex;
    }
    #menu1Slide2,#menu1Slide3{
        display: none;
    }
    #middleMenu{
        border-bottom: none;
    }
    #myHeader{
        width: 100%;
        height: 50px;
        display: flex;
        display: block;
        direction: rtl;
        background-color: #ececec;
    }
    #myHeader li{
        list-style-type: none;
        border: black 1px solid;
    }
    #myHeader a{
        text-decoration: none;
        color: black;
    }
    #threeLineIcon{
        width: 37px;
        float: right;
        margin-top: 10px;
        cursor: pointer;
    }
    #freeAd{
        width: 100px;
        height: 28px;
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        font-size: 13px;
        text-align: center;
        border-radius: 3px;
    }
    #uRightMenu1 a{
        color: #c411ac;
    }
    #fixedRightMenu{
        background-color: white;
        height: 100%;
        width: 300px;
        position: fixed;
        float: right;
        right: -1px;
        top: -1px;
        overflow: auto;
        display: none;
        border-left: solid black 2px;
    }
    #menu1Div1{
        display: none;
    }
    #xIcon2{
        display: block;
    }
    #fixedRightMenu ul{
        padding-right: 0px;
        padding-left: 0px;
    }
    #fixedRightMenu li{
        
    }
    #fixedRightMenu2{
        border-bottom: solid black 1px;
    }
    #fixedRightMenu5{
        border-top: solid black 1px;
    }
    #fixedRightMenu3{
        cursor: pointer;
        overflow: hidden;
        height: 60px;
        width: 100%;
        padding: 15px;
    }
    #fixedRightMenu4{
        cursor: pointer;
        overflow: hidden;
        height: 60px;
        width: 100%;
        padding: 15px;
    }
    #fixedRightMenu1,#fixedRightMenu2,#fixedRightMenu5,#fixedRightMenu6,#fixedRightMenu7,#fixedRightMenu8,#fixedRightMenu9,#fixedRightMenu10{
        height: 60px;
    }
    #fixedRightMenu a{
        display: block;
        color: black;
        text-decoration: none;
        height: 40px;
    }
    #fixedMenuXIcon{
        width: 30px;
        float: right;
        cursor: pointer;
    }
    #fixedMenuHeader{
        height: 60px;
        border-bottom: 1px solid black;
    }
    #topArrow1,#topArrow2{
        width: 20px;
        filter: opacity(50%);
        float: left;
        transform: rotate(180deg);
    }
    #rightUnderMenu1 li,#rightUnderMenu2 li{
        padding-right: 50px;
    }
    #xIcon{
        height: 70px;
        width: 70px;
    }
}